.App {
  text-align: center;
}

.newfooter{
	background-color: #ccc;
	bottom: 0;
	position: relative;
  width: 100%;
}

.txt-center{
	text-align: center !important;
}

.tit-footer{
	font-weight: bold;
  font-size: 15px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.nav-link{
  outline: none !important;
  color: #fff;
}

.navbar{
  background-color: #24292e;
}