
/* Importing Fonts */

@font-face {
  font-family: InterUI;
  font-style: normal;
  font-weight: 400;
  src: url('fonts/Inter-UI-Regular.otf');
}

@font-face {
  font-family: InterUI;
  font-style: normal;
  font-weight: 500;
  src: url('fonts/Inter-UI-Medium.otf');
}


/* General Classes Below */

.App {
  text-align: center;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.body_class{
  word-wrap: break-word;
}

.pad0{
  padding: 0 !important;
}

.bg_white{
  background-color: #fff;
}

.txt_no_decoration{
  text-decoration: none !important;
}

.links_light_blue:hover{
  color: #79b8ff;
}

.box_circle_language{
  display: inline-flex;
  margin-bottom: 0;
}

.language_circle_color{
  position: relative;
  top: 1px;
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color:#f1e05a;
}

.enterprise_link{
  color: #1277eb;
  border-bottom: 1px solid #1277eb;
}

.enterprise_link:hover{
  color: #0366d6;
  outline: none;
  text-decoration: none;
}

.no_outline{
  outline: none;
}

.li_organizations{
  list-style-type: none;
  float: left;
}

.justify_content_center{
  justify-content: center !important;
}

.img_oranizations{
  width: auto;
  height: 25px;
  margin: 10px 10px 16px 10px;
  padding-left: 32px;
  padding-right: 32px;
}

.btn_work_together{
  background-color: #fff;
  border: 1px solid #1277eb;
  font-size: 16px;
  padding: 20px 32px;
  font-weight: 500;
  border-radius: 3px;
  color: #1277eb;
  cursor: pointer;
}

.tit_work_together{
  font-size: 48px;
  font-family: InterUI,-apple-system,BlinkMacSystemFont,"Helvetica Neue","Segoe UI",Oxygen,Ubuntu,Cantarell,"Open Sans",sans-serif;
  font-weight: 500;
  text-align: center;
  line-height: 1.25;
  color: #24292e;
}

.txt_work_together{
  margin-left: auto;
  margin-right: auto;
  font-weight: 400;
  font-size: 21px;
  color: #586069;
  line-height: 1.5;
  margin-bottom: 1.5rem;
  padding-left: 0;
  padding-right: 0;
  font-family: InterUI,-apple-system,BlinkMacSystemFont,"Helvetica Neue","Segoe UI",Oxygen,Ubuntu,Cantarell,"Open Sans",sans-serif;
}

.weight500{
  font-weight: 500;
}

.weight400{
  font-weight: normal;
}

.tit_overview_repo{
  font-weight: 600 !important;
  color: #0366d6;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 14px;
  line-height: 1.5;
}

.txt_overview_repo{
  flex: 1 0 auto;
  display: block !important;
  font-size: 12px !important;
  margin-bottom: 16px !important;
  margin-top: 8px !important;
  color: #586069 !important;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  line-height: 1.5;
}

.pinned_repo{
  font-size: 13px;
  font-weight: 400;
  margin-top: 4px !important;
  color: #586069 !important;
  display: inline-block;
  padding: 0;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  border: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  line-height: 1.5;
}

.popular_repo{
  font-weight: 400 !important;
  font-size: 16px !important;
  margin-bottom: 8px !important;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  line-height: 1.5;
  color: #24292e;
}

.language_overview{
  font-size: 12px !important;
  margin-bottom: 0 !important;
  color: #586069 !important;
  margin-top: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  line-height: 1.5;
  margin-left: 2px;
}

.tit_organizations{
  margin-bottom: 24px;
  font-size: 20px;
  line-height: 1.25;
  color: #6a737d;
}

.family_inter{
  font-family: InterUI,-apple-system,BlinkMacSystemFont,"Helvetica Neue","Segoe UI",Oxygen,Ubuntu,Cantarell,"Open Sans",sans-serif;
}

.black_and_white{
  filter: grayscale(100%);
}

.row-cover{
  padding: 64px 45px;
  display: flex !important;
  align-items: center;
}

.fluid-universe{
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.btn_blue{
  background-color: #1277eb;
  color: #fff;
  padding: 16px 24px;
  border-radius: 3px;
  border: 1px solid transparent;
  margin-top: 1rem;
  font-size: 14px;
  margin-bottom: 16px;
  margin-top: 0;
}

.btn_blue:hover{
  background-color: #0366d6;
}

.btn_blue:focus{
  outline: none;
}

.double_hexagons{
  position: absolute;
  bottom: -70px;
  right: 40px;
}

.font_light_blue{
  color: #79b8ff;
}

.font10{
  font-size: 10px;
}

.font12{
  font-size: 12px;
}

.font16{
  font-size: 16px;
}

.font20{
  font-size: 20px;
}

.font25{
  font-size: 25px;
}

.font32{
  font-size: 32px;
}

.pointer{
  cursor: pointer;
}

.ul_organizations{
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}

.navbar_user{
  display: flex;
  margin-bottom: -1px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 14px;
  line-height: 1.5;
  color: #24292e;
  border-bottom: solid 1px #d1d5da;
}

.user_nav_item{
  padding: 16px 8px;
  margin-right: 16px;
  font-size: 14px;
  line-height: 1.5;
  color: #586069;
  text-align: center;
  border-bottom: 2px solid transparent;
  text-decoration: none;
  outline: none;
  display: flex;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.user_nav_item:hover{
  color: #24292e;
  text-decoration: none;
  border-bottom-color: #d1d5da;
  transition: 0.2s ease;
}

.user_nav_item:active{
  text-decoration: none;
  outline: none;
}

.div_flex_user_label_repo{
  display: flex;
}

.counter{
  display: inline-block;
  padding: 5px 5px;
  font-size: 12px;
  font-weight: 600;
  line-height: 1;
  color: #586069;
  background-color: rgba(27,31,35,0.08);
  border-radius: 20px;
  margin-left: 5px;
}

.tit_robots{
  font-size: 22px;
  font-weight: 400;
  font-family: Roboto,-apple-system,BlinkMacSystemFont,"Helvetica Neue","Segoe UI","Oxygen","Ubuntu","Cantarell","Open Sans",sans-serif;
  margin-bottom: 4px !important;
  color: #24292e !important;
  line-height: 1.5;
  text-align: left;
  text-decoration: none;
}

.txt_robots{
  text-align: left;
  text-decoration: none;
  color: #24292e;
  font-size: 14px;
}

.link_robots{
  outline: none;
  text-decoration: none;
}

.link_robots:hover{
  text-decoration: none;
  outline-width: 0;
}

.triangle_blue:hover{
  fill: #0366d6 !important
}

.robots_inside_link{
  color: #1277eb;
  text-decoration: none !important;
  box-shadow: 0 1px 0 0 rgba(18,119,235,0.5);
  transition: 0.2s;
}

.div_boxes_robot{
  border: solid 1px transparent;
  padding: 24px;
}

.div_boxes_robot:hover{
  box-shadow: 0 1px 15px rgba(27,31,35,0.15);
  border: solid 1px #d1d5da;
  transition: box-shadow 0.3s,border-color 0.3s;
}

.overview_div{
  text-align: left;
  padding: 16px !important;
  margin-bottom: 16px !important;
  border-radius: 3px !important;
  border: 1px solid #d1d5da !important;
  max-width: 49%;
}

.div_user_master{
  padding-right: 0 !important;
  padding-left: 0 !important;
  margin-top: 24px !important;
  display: flex;
}

.div_profile_left{
  padding-right: 16px;
  padding-left: 0;
  float: left !important;
  text-align: left;
}

.profile_pic{
  height: 230px;
  width: 230px;
  display: inline-block;
  overflow: hidden;
  line-height: 1;
  vertical-align: middle;
  border-radius: 6px !important;
}

.profile_bio{
  margin-bottom: 12px;
  overflow: hidden;
  font-size: 14px;
  color: #6a737d;
  line-height: 1.5;
}

.div_block{
  display: inline-block !important;
  text-align: left !important;
  line-height: 1.5 !important;
  color: #586069 !important;
  font-size: 12px;
}

.div_card_names{
  position: static;
  top: 0px;
  left: 16px;
  width: 229px;
  padding-top: 16px !important;
  padding-bottom: 16px !important;
}

.card_fullname{
  font-size: 26px;
  line-height: 30px;
  display: block !important;
  overflow: hidden !important;
  font-weight: 600;
  margin-bottom: 0;
}

.card_nickname{
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  color: #666;
  margin-bottom: 0;
  display: block !important;
}

.icon_country{
  margin-left: -22px;
  width: 16px;
  margin-top: 3px;
  color: #6a737d;
  text-align: center;
  overflow: hidden;
  vertical-align: text-bottom;
  display: inline-block;
  fill: currentColor;
  font-size: 14px;
}

.label_country{
  white-space: nowrap;
  font-size: 14px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  line-height: 1.5;
  color: #24292e;
}

.div_country{
  width: 100%;
  max-width: 100%;
  padding-bottom: 16px !important;
  padding-top: 16px !important;
  border-top: 1px solid #eaecef !important;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: top;
  padding-left: 22px;
  font-size: 14px;
}

.Section_Enterprise{
  background-image: url('https://assets-cdn.github.com/images/modules/site/patterns/dots-large.svg');
  background-repeat: repeat;
  background-position: center 10%;
  min-height: 285px;
}

.Section_Integrations{
  padding: 80px 0;
}

.Section_Organizations{
  padding: 80px 0;
}

.Section_Sign_Up{
  background-color: #24292e;
  padding: 80px 0;
}

.Section_Verified{
  margin: 40px 0 16px 0;
}

.Section_Boxes{
  padding: 80px 0 10px 0;
}

.Section_Robots{
  padding: 80px 0;
}

.btn_green_signup{
  background-color: #2ebc4f;
  padding: 20px 30px;
  color: #fff;
  width: 100%;
  border-radius: 5px;
  border: 1px solid transparent;
}

.btn_green_signup:focus{
  outline: none;
}

.tit-welcome{
  font-size: 64px;
  line-height: 1;
  font-family: InterUI,-apple-system,BlinkMacSystemFont,"Helvetica Neue","Segoe UI",Oxygen,Ubuntu,Cantarell,"Open Sans",sans-serif;
}


.fluid-welcome{
  background-image: url("img/codelines.svg");
  min-height: 90vh;
  background-color: #2b3137;
}

.form_signup{
  background-color: #fff;
  border-radius: 4px;
  width: 100%;
  padding: 25px;
}

.input_control{
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #d1d5da;
}

.form_Sign_Up{
  margin: 40px auto 0 auto;
  padding: 40px 16px;
}

.tit_verified{
  font-size: 20px;
  font-family: InterUI,-apple-system,BlinkMacSystemFont,"Helvetica Neue","Segoe UI",Oxygen,Ubuntu,Cantarell,"Open Sans",sans-serif;
  margin-bottom: 4px;
  font-weight: 400;
  color: #24292e;
}

.txt_verified{
  margin-bottom: 32px;
  color: #586069;
  font-size: 14px;
}

.div_verified_left{
  padding: 40px;
  text-align: left;
}

.img_verified{
  max-width: 100%;
  margin-bottom: 24px !important;
}

.padtop40{
  padding-top: 40px;
}

.padbot40{
  padding-bottom: 40px;
}

.font_white{
  color: #fff;
}

.font_gray{
  color: #586069 !important;
}

.font_light_gray{
  color: #6a737d !important;
}

.py-6{
  padding-top: 40px !important;
  padding-bottom: 40px !important;
}

.mt-lg-6{
  margin-top: 40px !important;
}

.links_sign_up:hover{
  color: white;
  text-decoration: underline;
}

.border_light_gray{
  border-bottom: 1px solid hsla(0,0%,100%,0.125);
}

.border_light_gray:hover{
  border-color: #fff;
}

.hosted{
  margin: auto;
  padding: 24px !important;
  position: relative;
  display: block;
  border-radius: 3px;
  transition: 0.4s;
  border: 1px #e1e4e8 solid !important;
  text-decoration: none;
  display: flex;
}

.hosted:hover{
  box-shadow: 0 4px 14px rgba(0,0,0,0.1);
  text-decoration: none;
  outline: none;
}

.hosted:focus{
  outline: none;
}

.tit_hosted{
  font-size: 16px !important;
  font-family: InterUI,-apple-system,BlinkMacSystemFont,"Helvetica Neue","Segoe UI",Oxygen,Ubuntu,Cantarell,"Open Sans",sans-serif;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0;
}

.txt_hosted{
  color: #586069;
  font-size: 14px !important;
  margin-right: 8px !important;
}

.tit_Sign_Up{
  font-size: 32px;
  font-family: InterUI,-apple-system,BlinkMacSystemFont,"Helvetica Neue","Segoe UI",Oxygen,Ubuntu,Cantarell,"Open Sans",sans-serif;
  font-weight: 400;
  margin-bottom: 0;
  text-align: center;
  color: #fff;
  line-height: 1.5;
}

.txt_Sign_Up{
  color: #6a737d;
  font-size: 12px;
  text-align: center;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  margin-top: 40px;
  margin-bottom: 0;
}

.input_Sign_Up{
  width: 100%;
  min-height: 46px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  outline: none;
  max-width: 100%;
  margin-right: 5px;
  border: 1px solid #d1d5da;
}

.input_Sign_Up:focus{
  box-shadow: 0 0 0 0.2em hsla(0,0%,100%,0.3)
}

.btn_Sign_Up{
  background-color: #2ebc4f;
  color: #fff;
  padding: 16px 24px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 3px;
  width: 100%;
  text-align: center;
  cursor: pointer;
  transition: 0.2s;
  border: 0;
}

.btn_Sign_Up:hover{
  background-color: #28a745;
  text-decoration: none;
}

.btn_Sign_Up:focus{
  outline: none;
}

.div_wrap_repo{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.div_flex{
  display: flex;
  align-items: center;
}

.div_large{
  max-width: 1012px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 16px !important;
  padding-left: 16px !important;
}

.div_extra_large{
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 16px !important;
  padding-left: 16px !important;
}

.bg_universe_left{
  background-image: url('img/bg_universe.svg');
  background-color: #13191E;
}

.bg_universe_right{
  background-color: #10181e;
}

.txt_enterprise{
  margin-bottom: 16px;
  color: #586069;
  font-size: 16px;
  text-align: center;
  line-height: 1.5;
}

.txt_hint_work_together{
  font-family: "SFMono-Regular",Consolas,"Liberation Mono",Menlo,Courier,monospace;
  color: #586069;
  font-size: 16px;
  font-weight: 400;
}

.txt-center{
	text-align: center !important;
}

.txt-welcome{
  color:hsla(0,0%,100%,0.6);
  font-weight: 400;
  font-size: 21px;
  line-height: 1.5;
  font-family: InterUI,-apple-system,BlinkMacSystemFont,"Helvetica Neue","Segoe UI",Oxygen,Ubuntu,Cantarell,"Open Sans",sans-serif;
}

.line_height_150{
  line-height: 1.5;
}

.line_height_125{
  line-height: 1.25;
}

.mt-0{
  margin-top: 0 !important;
}

.left_div_universe{
  padding: 40px 40px 40px 30px;
}

.right_div_universe{
  padding: 40px 40px 40px 40px;
}

.no_mobile{
  display: inline;
}

.only_mobile{
  display: none;
}


/* General Classes Above */

/* Footer Classes Below */

.newfooter{
	background-color: #ccc;
	bottom: 0;
	position: relative;
  width: 100%;
}

.tit-footer{
	font-weight: bold;
  font-size: 15px;
  padding-bottom: 10px;
  padding-top: 10px;
}

/* Footer Classes Above */

/* Header Classes Below */

.nav-link{
  outline: none !important;
  color: #fff !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.nav-item{
  margin-left: 1.5rem;
}

.github_icon{
  color: #fff;
  font-size: 32px;
  height: 32px;
  width: 32px;
}

.navbar_main_row{
  margin: auto;
}

.navbar_search{
  background-color: #404448;
  border: 1px solid transparent;
  color: #fff;
  border-radius: 4px;
  width: 275px;
  font-size: 13px !important;
}

.navbar_search:focus{
  background-color: #fff;
  color: #758a7b;
}

.label_search{
  background-color: #404448;
  border-radius: 4px;
  padding: 3px 7px;
}

.form_search{
  margin-left: 60px;
}

.label_input{
  font-size: 14px;
  margin: 0 0 6px;
}

.signup_block{
  margin: 0 0 15px 0;
}

.form_search:focus{
  background-color: #fff;
  color: #758a7b;
}

.nav_logs{
  font-size: 16px !important;
  margin: auto 0 auto 16px;
}

.navbar{
  background-color: #24292e !important;
  font-size: 16px !important;
  padding-top: 16px !important;
  padding-bottom: 16px !important;
}

.navbar-brand{
  margin: auto;
}

.nav_link_sign{
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  outline: none;
}

.nav_link_sign:hover{
  color: #fff;
  text-decoration: none;
  outline: none;
}

.navbar-toggler-icon{
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}

/* Header Classes Above */


